<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% include google_analytics %>
<% include google_tags %>
<meta property="title" content="Build Networks Online - Network design & learning tool">
<meta name="author" content="Build Networks Online">
<meta name="description" content="Learn IT networking skills using this tool aimed at beginners. Or simple use the tool to design an IT network. Free now, no download needed!">
<meta name="keywords" content="online network design learning tool,network diagram tool,network design software,network design tool online,draw network diagram online,online network diagram editor,network diagram editor,network diagram,network diagram examples,network diagram designer">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= pagedata.title %></title>

<link rel="stylesheet" href="/assets/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/main.css">