<html lang="en">
    <% include partials/head %>
    <body>
        <img src="..." class="img-fluid" alt="Responsive image">
        <div class="jumbotron">
            <h1 class="display-4">Online Networking Design Tool</h1>
            <p class="lead">A fast and easy way to prototype your computer networks.</p>
            <hr class="my-4">
            <a class="btn btn-outline-info btn-lg" href="/projects" role="button">Get Started</a>
        </div>
    </body>
</html>