<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div class="card bg-dark text-white">
            <img src="/assets/img/wallpaper2.png" style="opacity: 0.1;"  class="card-img" alt="...">
            <div class="card-img-overlay jumbotron" style="background-color: transparent;">
              <h1 class="card-title display-4">Online Networking Design & Learning Tool<p class="lead">Alpla Version</p></h1>
              <p class="card-text lead">
                  A fast and easy way to prototype your computer networks. Anyone who is interested in learning
                  about networking will find the Online Networking & Learning Tool massively useful as it teachs
                  the nessercary concepts in networking. This is done in a fun and engading way where you are able
                  build the network and configure it with little knowledge about the subject. 
                  We aim to be the number one choice for learning networking. Bare in mind that this project is in
                  Alpha stage so there may be bugs or functionality not working properly.
                </p>
              <hr class="my-4" style="background-color: white;">
              <a class="btn btn-outline-info btn-lg" href="/projects" role="button">Get Started</a>
            </div>
        </div>
        
    </body>
</html>
