<html lang="en">
    <% include partials/head %>
    <body>
        <div class="card bg-dark text-white">
            <img src="/assets/img/wallpaper2.png" style="opacity: 0.1;"  class="card-img" alt="...">
            <div class="card-img-overlay jumbotron" style="background-color: transparent;">
              <h1 class="card-title display-4">Online Networking Design Tool</h1>
              <p class="card-text lead">A fast and easy way to prototype your computer networks.</p>
              <hr class="my-4" style="background-color: white;">
              <a class="btn btn-outline-info btn-lg" href="/projects" role="button">Get Started</a>
            </div>
        </div>
        
    </body>
</html>
