<!doctype html>
<html lang="en">

<head>
    <% include partials/head %>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/assets/css/frontpage.css" rel="stylesheet">
</head>


<body class="text-center">
    <div class="video-container">
        <video src="/assets/vid/frontpage-background-video.mp4" autoplay loop muted></video>
    </div>
    <div class="content">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <!-- <a class="navbar-brand" href="#">
                        <img src="/assets/img/logos/Symbol/No border-11.svg" width="44" height="37.5" alt="" loading="lazy">
                    </a> -->
                    <!-- <h3 class="masthead-brand">Build Networks Online</h3> -->
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="/projects">Projects</a>
                        <a class="nav-link" href="#">Documentation</a>
                        <a class="nav-link" href="#">About</a>
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                <img class="pb-5" src="/assets/img/logos/Logo/logo-noborder-white.svg" alt="Build Networks Online - Logo">
                <!-- <h1 class="cover-heading">Cover your page.</h1> -->
                <p class="lead">
                    A fast and easy way to prototype your computer networks. Anyone who is interested in learning
                    about networking will find the Online Networking & Learning Tool massively useful as it teaches
                    the nessercary concepts in networking. 
                </p>
                <p class="lead">
                    <a href="/projects" class="btn btn-lg btn-success">Start a project</a>
                    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>A <a href="https://www.kingston.ac.uk/">Kingston University</a> Project, by <a href>Llewellyn Brunsdon-Haland</a>Designe by <a href="http://elizabethzrose.com">Elizabeth Zographia Rose</a>.</p>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>
