<html lang="en">
    <head>
        <% include partials/head %>

        <style>
            body {
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <main>
            <% include partials/google_tags_body %>
            <% include partials/header %>
            <% include partials/canvasView %>
        </main>


        <script type="module">
            import ioController from '/assets/js/controller/ioController.js';
            ioController.setRoomID("<%= pagedata.room_ID %>");
            console.log(ioController.getRoomID());
        </script>

        <% include partials/scripts %>
        <% include partials/p5-scripts %>
    </body>
</html>