<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/google_tags_body %>
        <% include partials/header %>
        <% include partials/canvasView %>


        <script>
            var room_ID = "<%= pagedata.room_ID %>";
            console.log(room_ID);
        </script>

        <% include partials/scripts %>
        <% include partials/p5-scripts %>
    </body>
</html>