<?xml version="1.0" encoding="UTF-8"?>
<component>
    <name>Server</name>
    <type>Device</type>
    <image path="/assets/img/server.svg" alt="Server icon"></image>
    <interfaces>
        <interface portType="Fast_Ethernet" numberOfPorts="1"></interface>
    </interfaces>
    <validLinkingComponents>
        <linkingComponent>Twisted_Pair</linkingComponent>
    </validLinkingComponents>
</component>