/* NAVBAR CUSTOM CLASSES */

.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

a>.card:hover {
    border-color: #007bff!important;
}

/* P5 STYLES */

#barLabels {
    height: 20;
    color: white;
}

#components {
    background-color: burlywood;
}

.compDiv {
    display: inline;
}

.componentImg {
    width: 50px;
    height: 50px;
    margin: 5px 15px;
}
.componentImg:hover {
    opacity: 0.7;
    cursor: pointer;
}

.ComponentBar {
    width: 80;
    height: 20;
    background-color: grey;
    display: inline-block;
    vertical-align: top;
    padding: 5px;

}
.qs_pin_container {
    display: inline-block;
    float: right;
    margin-right: 5px;
}
.qs_pin_button {

}
.qs_connections_container {
    overflow-y: auto;
}
.qs_connection {
    display: inline-block;
    margin: 0 5px 0 5px;
}
.qs_connection_table_value {
    text-align: center;
}

.qs_invalid_ip_address {
    border: 2px;
    border-color: red;
    border-style: solid;
    color: red;
}

.qs_valid_ip_address {
    border: 2px;
    border-color: green;
    border-style: solid;
    color: green;
}

.qs_arrow {
    display: inline-block;
    margin: 0 5px 0 5px;
    font-size: 5mm;
}
.canvasButtonContainer {
    position: absolute;
    overflow: hidden;
    height: 50px;
    z-index: 100;
}
.canvasButton {
    margin: 15px 8px 0 5px;
}
.canvasButton:hover {
    opacity: 0.7;
    cursor: pointer; 
}

.upload_input {
    display: none;
}


.bg-dark {
    background-color: #191919!important;
}


/* Added visability hidden to hide html when toast is hidden */
.toast.hide {
    display: none;
    visibility: hidden;
}

#interfaceContainer {
    background-color: #dddddd;
    text-align: left;
    position: absolute;
    width: 150px;
    font: 12px sans-serif;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.35);
    color: #000000;
}

.portButton {
    width: 100%;
    background-color: #aefda3;
}
.disabledPortButton {
    background-color: rgb(255, 144, 144);
}
#portContainer {
    width: 100%;
    display: block;
    position: relative;
}
#interfaceTitleContainer {
    width: 100%;
    text-align: center;
}

/* Component Panel */
.dg.a {
    margin-right: 0px;
}
#rightSidePanel {
    position: absolute;
    top: 188px;
    right: 0px;
}
#bottomPanel {
    position: absolute;
    top: initial;
    bottom: 0px;
    position: fixed;
    height: 30px;
    background-color: #cccccc;
}
#bottomPanelTitleContainer {
    background-color: #eeeeee;
}
.panel-title-container {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    display: inline-block;
}
#bottomPanelContentContainer {
    width: 100%;
    max-height: 280px;
    margin: 7px;
    background-color: #eeeeee;
}
#connections-table {
    height: fit-content;
}